.cover {
    article {
        margin-top: 10%;

        h1 {
            font-size: 28pt;
        }

        img.avatar {
            width: 30%;
        }

        header {
            margin-top: 0.2cm;
            margin-top: 0.5cm;
            padding: 0;
            font-size: var(--font-size-l);

            .person {
                font-size: var(--font-size-l);

                .name {
                    font-size: var(--font-size-xxl);
                }
            }
        }

        .attachments {
            margin-top: 5cm;
        }
    }
} 