{% extends "../layouts/page.njk" %}

{% set templateClass = 'letter' %}

{%block main%}
    <article>
        <section class="application-header">
            <p class="name">{{letter.name}}</p>
            <p class="street">{{letter.address.street}}</p>
            <p class="postal">{{letter.address.postal}}</p>
        </section>

        <section class="letter-container">
            <p class="date">{{letter.location}}, {{letter.date | date("DD[.]MM[.]YYYY", locale)}}</p>
            <h1 class="subject"><a id="letter"></a>{{letter.subject}}</h1>
            <p class="salutation">{{letter.salutation}}</p>
            {% for text in letter.text %}
                <p class="text">{{text}}</p>
            {% endfor %}
            <p>{{letter.signature}}</p>
        </section>

    </article>

{% endblock %}