{% extends "../layouts/page.njk" %}

{% set templateClass = 'samples' %}

{%block main%}
    <article>
        <h1><a href="samples"></a>Arbeitsproben</h1>
        {% for text in samples.introduction %}
            <p>{{text | safe}}</p>
            {% endfor%}

            {% for sample in samples.samples%}
                <section class="sample">
                    <h2>{{sample.title}}</h2>

                    <div class="text">
                    <div class="images">
                        {% for imageRow in sample.images %}
                            <div class="image-row">
                                {% for image in imageRow %}
                                    <figure>
                                        <img src="{{image | url}}" {% if sample.imageBorder %} class="border" {% endif%} />
                                    </figure>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                        {% for text in sample.text%}
                            <p class="text">{{text}}</p>
                        {% endfor %}
                    </div>

                    
                </section>
            {% endfor %}
        </article>
    {% endblock %}