---
layout: layouts/base.njk
---

{%set size = 'A4' %}

{%include 'pages/cover.njk' %}

{% set pageNumber = 1 %}
{%include 'pages/letter.njk' %}

{% set pageNumber = 2 %}
{%include 'pages/vita.njk' %}

{% set pageNumber = 3 %}
{%include 'pages/samples.njk' %}