<header>
    <div  class="left">
        <div class="person">
            <span class="name">{{metadata.author.name}}</span>
            <span class="degree">{{metadata.author.degree}}</span>
            <span class="title">{{metadata.author.title}}</span>
            <span class="subtitle">{{metadata.author.subtitle}}</span>
        </div>
    </div>
    <div class="right">
        <div class="address">
        Adresse
        <div class="group">
                <span class="street">{{metadata.author.address.street}}</span>
                <span class="postal">{{metadata.author.address.postal}}</span>
                <span class="country">{{metadata.author.address.country}}</span>
            </div>
        </div>

        <div class="contact">
        Kontakt
        <div class="group">
                <a class="phone" href="tel:{{metadata.author.phone}}">{{metadata.author.phone}}</a>
                <a class="mail" href="mailto:{{metadata.author.email}}" target="_blank">{{metadata.author.email}}</a>
                <a class="web" href="{{metadata.author.weblink}}" target="_blank">{{metadata.author.web}}</a>
            </div>
        </div>
    </div>
</header>